.h2 {
    position: absolute;
    top: 55%;
    left: 50%;
}

.form{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 500%;
}

.container-div{ 
    Display: flex;
    Height: 100vh;
    Width: 100vw; 
    Align-Items: center;
    Justify-Content: centre;
    }
.centers {
    width: 800px;
    height: 500px;
    position: absolute;
    left: 41%;
    top: 40%; 
    margin-left: -150px;
    margin-top: -150px;
    }