.modal-wrapper {
    /* background: white; */
    border: 1px solid #d0cccc;
    margin: 100px auto 0;
    transition: all .8s;
    width: 50%;
    

    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    z-index: 10000;
}
.form{
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
    width: 500%;
}


